{% extends "base.html" %}{% load staticfiles %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Graphs</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Present Rate for teachers
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div id="morris-area-chart"></div>
      </div>
      <!-- /.panel-body -->
    </div>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<script>

 Morris.Area({
   element: 'morris-area-chart',
   data: [
     {
       date: '14 Dec',
       ashish: 100,
       diwas: 82,
       yubraj: 65,
       aayush: 75
     },

     {
       date: '15 Dec',
       ashish: 82,
       diwas: 75,
       yubraj: 42,
       aayush: 90
     },


     {
       date: '16 Dec',
       ashish: 91,
       diwas: 65,
       yubraj: 49,
       aayush: 100
     },

   ],
   xkey: 'date',
   ykeys: ['ashish', 'diwas', 'yubraj', 'aayush'],
   labels: ['Ashish Acharya', 'Diwas Sharma', 'Yubraj Panta', 'Aayush Subedi'],
   pointSize: 2,
   hideHover: 'auto',
   resize: true
 });
</script>

{% endblock content %}
