{% extends "layout/_innerbase.html" %}
{% block admininner %}
{{ block.super }}
<section id="main-content">
  <section class="wrapper">
    <!--state overview start-->
    <!-- <div class="row state-overview">
    <div class="col-lg-3 col-sm-6">
    <section class="panel">
    <div class="symbol terques">
    <i class="icon-user"></i>
    </div>
    <div class="value">
    <h1 class="count">
    0
    </h1>
    <p>Total Teachers</p>
    </div>
    </section>
    </div>
    <div class="col-lg-3 col-sm-6">
    <section class="panel">
    <div class="symbol red">
    <i class="icon-tags"></i>
    </div>
    <div class="value">
    <h1 class=" count2">
    0
    </h1>
    <p>Absent This Week</p>
    </div>
    </section>
    </div>
    <div class="col-lg-3 col-sm-6">
    <section class="panel">
    <div class="symbol blue">
    <i class="icon-ok"></i>
    </div>
    <div class="value">
    <h1 class=" count3">
    0223
    </h1>
    <p>Present This Week</p>
    </div>
    </section>
    </div>
    </div> -->
    <!--state overview end-->
    <div class="row">
      <div class="col-lg-8">
        <!--custom chart start-->
        <div class="border-head">
          <h3>Title</h3>
        </div>
        <!--custom chart end-->
      </div>
    </div>
  </section>
</section>
{% endblock admininner %}
